.breadcrumb {
    background: none;
    border: none;
    border-radius: $border-radius;
    line-height: 1.5;
    font-size: 16px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    color: $text;
    margin-bottom: 2rem;
    padding-left: 0;
}

// Style for regular breadcrumb items (not links)
.breadcrumb-item:not(:last-child) {
    font-weight: normal;
}

// Style for breadcrumb links
.breadcrumb-item a {
    color: #b7b7b7;
    text-decoration: none;
}

// Style for the last breadcrumb item (active)
.breadcrumb-item:last-child {
    color: $primary;
    font-weight: bold;
}

// Style for the separator //
.breadcrumb-item::before {
    content: "/";
    color: $text;
    font-weight: normal;
}

// Remove separator before the first breadcrumb item //
.breadcrumb-item:first-child::before {
    content: "";
}
