pre {
    border-radius: $border-radius;
    border: 1px solid $primary;

    code {
        width: 100%;
        padding: 1rem;
        color: unset;
        background: unset;
        border: unset;
    }
}

code {
    color: $text;
    background: $bg-primary;
    font-size: 85%;
    line-height: 1.2;
    padding: 0.09em 0.4em;
    border-radius: $border-radius;
    border: 1px solid $primary;
    display: inline-block;
    white-space: pre-wrap;
}
