table {
   width: 100%;
   margin: 1rem auto;
   color: $table-color;
   background-color: $table-bg;
   overflow-x: auto;
   -webkit-overflow-scrolling: touch;
   border-collapse: separate;
   border-spacing: 0;

   thead {
      tr {
         th {
            background-color: $table-header-bg;
            border-right: 1px solid $table-border;
            border-top: 1px solid $table-border;
         }

         th:first-of-type {
            border-top-left-radius: $border-radius;
            border-left: 1px solid $table-border;
         }

         th:last-of-type {
            border-top-right-radius: $border-radius;
         }
      }
   }

   th,
   td {
      padding: $table-cell-padding;
      vertical-align: top;
      border-right: 1px solid $table-border;
      border-top: 1px solid $table-border;
   }

   tr:last-of-type {
      td {
         border-bottom: 1px solid $table-border;
      }

      td:first-of-type {
         border-bottom-left-radius: $border-radius;
         border-left: 1px solid $table-border;
      }

      td:last-of-type {
         border-bottom-right-radius: $border-radius;
      }
   }

   thead th {
      vertical-align: center;
   }

   tbody {
      td:nth-child(1) {
         border-left: 1px solid $table-border;
      }
   }

   thead {
      th,
      td {
         text-transform: uppercase;
      }
   }

   &.td-center {
      td {
         text-align: center;
         vertical-align: middle;
      }
   }

   &.td-center {
      td {
         text-align: center;
         vertical-align: middle;
      }
   }

   &.th-center {
      th {
         text-align: center;
         vertical-align: middle;
      }
   }
}
