.td-sidebar {
    padding-bottom: 1rem;

    &__toggle {
        line-height: 1;
        margin: 1rem;
    }

    &-nav {
        font-size: 16px;
        color: $sidebar-font-color;

        &__section {
            .collapse {
                padding-left: 1.5rem;
            }
            li {
                list-style: none;
            }

            ul {
                margin: 0;
                padding: 0;
            }

            //child
            > ul {
                padding-left: 0.5rem;

                li {
                    a {
                        position: relative;
                    }
                }
            }

            padding-left: 0;
        }
        @include media-breakpoint-up(xl) {
            & > &__section {
                > li > a,
                > .collapse {
                    padding-left: 2rem;
                }
            }
        }

        a {
            min-height: 40px;
            padding: 10px 10px 10px 1.5rem;
            line-height: 20px;
            border-left: 3px solid transparent;
            &:hover {
                color: $sidebar-active-item;
                text-decoration: none;
            }

            &.active {
                color: $sidebar-active-item;
                font-family: $font-primary-bold;
                // font-weight: 700;
                // Add border on left
                border-left: 3px solid $sidebar-active-border;
                background: $sidebar-active-background;
                transition: background-color 0.3s ease;
            }
        }

        &__section-title {
            display: block;
            position: relative;
        }
        &__section-toggle {
            width: 30px;
            height: 30px;
            margin-left: auto;
            border: none;
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            background-image: url("/icons/chevron-right.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 22px;
            background-color: transparent;
            transition: transform 0.3s ease;
            overflow: hidden;
            border-radius: 100%;
            &.active {
                transform: translateY(-50%) rotate(90deg);
            }
        }

        .td-sidebar-link {
            display: block;
            color: $sidebar-font-color;
            padding-bottom: 0.375rem;
            padding-right: 35px;
        }

        .dropdown {
            a {
                color: $text;
            }

            .nav-link {
                padding: 0 0 1rem;
            }
        }
    }
}
