<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}} {{- block "head" . }}{{- end }}

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript
            ><iframe
                src="https://www.googletagmanager.com/ns.html?id={{ site.Params.googleTagManagerID }}"
                height="0"
                width="0"
                style="display: none; visibility: hidden"
            ></iframe
        ></noscript>

        {{- partial "header.html" . -}}
        <section id="content">
            <div class="row no-gutters">
                <aside
                    class="col-12 col-xl-2 navigation {{ if .Params.hideSideNav }}d-lg-none{{ end }} "
                >
                    <div class="h-100 d-block">
                        <div class="sticky" id="sidebar">
                            <div class="fastSearch">
                                <div class="input-group d-flex d-xl-none w-100">
                                    <div class="input-group-append">
                                        <i class="fas fa-search"></i>
                                    </div>
                                    <input
                                        type="text"
                                        class="form-control searchInput"
                                        placeholder="Search documentation..."
                                        tabindex="0"
                                    />
                                </div>
                                <ul
                                    id="searchResults"
                                    class="searchResults rounded shadow-sm border d-block d-xl-none"
                                ></ul>
                            </div>
                            {{ partial "sidebar.html" . }}
                        </div>
                    </div>
                </aside>
                <main
                    class="col-12 
                {{/*  customize content width  */}}
                {{- if and .Params.hideSideNav .Params.hidePageNav -}}
                    col-xl-12
                {{- else if .Params.hideSideNav -}}
                    col-xl-9
                {{- else if .Params.hidePageNav -}}
                    col-xl-10
                {{- else -}}
                    col-xl-7
                {{- end -}}
                "
                >
                    <div class="pt-5 pb-4b px-4b px-xl-5 minimum--content">
                        {{ if not .Params.hideBreadcrumbs }} {{- partial
                        "breadcrumbs.html" . -}} {{ end }}
                        <h1 id="page-title">{{ .Title }}</h1>
                        {{- block "main" . }}{{- end }}
                    </div>
                </main>
                {{ if not .Params.hidePageNav }}
                <aside class="col-12 col-xl-3 toc">
                    <div class="h-100">
                        <div class="pb-4 pt-6 px-4 toc sticky">
                            {{ if ge (len .TableOfContents) 100 }}
                            <h5>On this page:</h5>
                            <div>{{ .TableOfContents }}</div>
                            {{ end }}
                        </div>
                    </div>
                </aside>
                {{ end }}
            </div>
        </section>
        {{- partial "footer.html" . -}}
        <script>
            // scroll sidebar to active element
            var activeElement = document.getElementsByClassName(
                "td-sidebar-link active"
            )[0];
            if (activeElement) {
                var activeElementOffset = activeElement.offsetTop;
                document
                    .getElementById("sidebar")
                    .scrollTo({ top: activeElementOffset });
            }
        </script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
            integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"
            integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"
            integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.min.js"
            integrity="sha512-7rusk8kGPFynZWu26OKbTeI+QPoYchtxsmPeBqkHIEXJxeun4yJ4ISYe7C6sz9wdxeE1Gk3VxsIWgCZTc+vX3g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/6.6.2/fuse.min.js"
            integrity="sha512-Nqw1tH3mpavka9cQCc5zWWEZNfIPdOYyQFjlV1NvflEtQ0/XI6ZQ+H/D3YgJdqSUJlMLAPRj/oXlaHCFbFCjoQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <script src="https://cdn.jsdelivr.net/gh/cferdinandi/gumshoe@5/dist/gumshoe.polyfills.min.js"></script>
        {{- block "scripts" . }}{{- end }}
        <script>
            $("header [data-toggle=menu]").on("click", function () {
                $("aside.navigation").fadeToggle(350);
                $("header [data-toggle='menu']").toggleClass("active");
            });

            $(".td-sidebar-nav__section-toggle").on("click", function () {
                const targetId = $(this).data("id");
                $(this).toggleClass("active");
                $("#" + targetId).toggleClass("show");
            });
            $(".expand__element--btn").click(function () {
                const hiddenText = $(this).next();

                if (hiddenText.is(":visible")) {
                    $(this).text("More...").removeClass("active");
                } else {
                    $(this).text("Less...").addClass("active");
                }

                hiddenText.slideToggle("fast");
            });
        </script>
        <script>
            var spy = new Gumshoe("#TableOfContents ul a", { offset: 120 });
        </script>
        {{ $built := resources.Get "javascripts/application.js" | js.Build
        "application.js" }}
        <script src="{{ $built.Permalink }}"></script>
    </body>
</html>
