{{ $toRead := (printf "/themes/%s/static/ico-%s.svg" $.Site.Params.Theme (.Get
`icon`) ) }}
<div class="alert alert-info d-flex">
    <div class="icon-wrapper d-flex align-items-center justify-content-center">
        {{ if .Get `icon` }} {{ readFile $toRead | safeHTML }} {{ else }}
        <i class="fas fa-lg fa-info-circle" style="color: white"></i>
        {{ end }}
    </div>
    <div class="content">
        {{ if .Get 0 }}<b>{{ .Get 0 }}</b><br />{{ end }}{{ .Inner | markdownify
        }}
    </div>
</div>
