<section class="section" style="background-color:{{.Get `background`}}">
    <div >
        <main >
            <div 
                
            >
                {{ .Inner | markdownify }}
            </div>
        </main>
    </div>
</section>
