{{ $firstSection := .FirstSection }}
{{/* We cache this partial for bigger sites and set the active class client side. */}}
{{ $shouldDelayActive := ge (len .Site.Pages) 2000 }}
<div id="td-sidebar-menu" class="sidebar-menu td-sidebar__inner{{ if $shouldDelayActive }} d-none{{ end }}">
  <nav class="td-sidebar-nav" id="td-section-nav">
    {{ if and ($.IsNode) (eq $.Section "") }} {{ else }}
    {{ template "section-tree-nav-section" (dict "page" . "section" .FirstSection "delayActive" $shouldDelayActive "first"  $firstSection) }}

    {{ end }}
    {{ $current := . }}{{ range $.Site.Menus.primary }}
    <li class="d-flex align-items-end d-xl-none">
      {{ $active := in $current.RelPermalink .URL }}
      <a href="{{ .Page.Permalink }}"
        class="{{ if $active }}d-none{{ end }} align-left td-sidebar-link td-sidebar-link__section" {{ if eq
        .Page.Params.tab "new" }}target="_blank" {{ end }}>
        {{ $active := in $current.RelPermalink .URL }}
        {{.Title}}
      </a>
    </li>
    {{ end }}
  </nav>
</div>



{{ define "section-tree-nav-section" }}
{{ $s := .section }}
{{ $p := .page }}
{{ $shouldDelayActive := .delayActive }}
{{ $active := eq $p.Permalink $s.Permalink }}
{{ $show := or ($p.IsDescendant $s) ( eq $p.CurrentSection $s) }}
{{ $sid := $s.RelPermalink | anchorize }}




<ul class="td-sidebar-nav__section">
  {{ if $s.IsHome }}{{ else }}
  <li class="td-sidebar-nav__section-title">
    <a href="{{ $s.RelPermalink }}"
      class="align-left {{ if not $show }} collapsed{{ end }} {{ if $active }}active{{ end }} td-sidebar-link td-sidebar-link__section">
      {{ $s.LinkTitle }}
    </a>
    {{ if eq .first .Section   }}
    <button class="td-sidebar-nav__section-toggle {{ if $show }}active{{ end }}" data-id="{{ $sid }}"></button>
    {{ end }}
  </li>
  {{ end }}
  <ul class="collapse {{ if $show }}show{{ end }}" id="{{ $sid }}">

    {{ $pages := where (union $s.Pages $s.Sections).ByWeight ".Params.toc_hide" "!=" true }}
    {{ $pages := $pages | first 50 }}
    {{ range $pages }}

    {{ $active = eq $p.Permalink .Permalink }}

    {{ if .IsPage }}
    {{ $mid := printf "m-%s" (.RelPermalink | anchorize) }}
    {{ $active := eq . $p }}
    <li>
      <a class="td-sidebar-link td-sidebar-link__page {{ if and (not $shouldDelayActive) $active }} active{{ end }}"
        id="{{ $mid }}" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    </li>
    {{ else }}
    {{ template "section-tree-nav-section" (dict "page" $p "section" .) }}
    {{ end }}
    {{ end }}
  </ul>
</ul>
{{ end }}